.accounting-col {
    min-width: 120px;
    display: inline-block;
}

.print-view {
    margin-top: 1.5rem;
    padding: 1rem;
}

.edit-view {
    margin-top: 1.5rem;
    padding: 1rem;
}

@media print {
    nav {
        display: none;
    }
    .viewer {
        background-color: white !important;
    }
}
